md-content(layout-padding layout='column' layout-align='center center')

  form(login-form ng-submit='submit()' name='loginForm')
    h1 Login

    div(layout='column')
      md-input-container(flex)
        label Email
        input(type='email' ng-model='user.email' required)

      md-input-container(flex)
        label Password
        input(type='password' ng-model='user.password' required)

    md-button.md-raised.md-primary(type='submit' ng-disabled='loginForm.$invalid') Login