md-content.md-padding

  form(login-form ng-submit='submit()' name='loginForm')
    div(notification)
    md-input-container
      label Email
      input(type='email' ng-model='user.email' required)

    md-input-container
      label Password
      input(type='password' ng-model='user.password' required)

    md-button.md-raised.md-primary(type='submit' ng-disabled='loginForm.$invalid') Login