doctype html5
html.no-js
  include ../partials/_head
  body(ng-app='trackaKeepa' layout='column')

    include ../partials/_toolbar

    div(layout='row' layout-align='center')
      md-content(layout='column' flex='100' flex-gt-sm='70')

        md-card
          md-tabs
            md-tab(label='Login')
              include ../components/loginForm/loginForm.jade

            md-tab(label='Register')
              include ../components/registerForm/registerForm.jade

        md-card(layout-padding)
          p This is the first card

        md-card(layout-padding)
          p This is a second card