.container
  form(ng-submit='login(username, password)')
    .form-group
      label Username
      input.form-control(type='text' ng-model='username' autofocus)

    .form-group
      label Password
      input.form-control(type='password' ng-model='password')

    input.btn.btn-success.btn-lg.btn-block(type='submit' value='Login')
