nav.navbar.navbar-default(nav)
  .container
    ul.nav.navbar-nav
      li: a(ui-sref='index') Posts
      li: a(ui-sref='register') Register
      li: a(ui-sref='login') Login
      li: a(ui-sref='login' ng-click='logout()' ng-if='currentUser.username') Logout

    p.navbar-text.navbar-right(ng-if='currentUser.username') Signed in as {{::currentUser.username}}
