head
  title Tracka Keepa
  link(rel='stylesheet' href='styles/bootstrap.min.css')
  link(rel='stylesheet' href='styles/app.css')
  script(type='text/javascript' src='/scripts/modernizr.js')
  script(type='text/javascript' src='/scripts/jquery.min.js')
  script(type='text/javascript' src='/scripts/bootstrap.min.js')
  script(type='text/javascript' src='/scripts/angular.min.js')
  script(type='text/javascript' src='/scripts/firebase.js')
  script(type='text/javascript' src='/scripts/angularfire.min.js')
  script(type='text/javascript' src='/scripts/app.js')