form.well
  .row
    .col-sm-6
      .form-group
        input.form-control#email(type='email' placeholder='Email')
    .col-sm-6
      .form-group
        input.form-control#password(type='password' placeholder='Password')
