form.form-horizontal
  .form-group
    .col-sm-8.col-sm-offset-2
      input.form-control#email(type='email' placeholder='Email')
      input.form-control#password(type='password' placeholder='Password')
  .form-group
    .col-sm-8.col-sm-offset-2
      button.btn.btn-primary.btn-md#submit(type='submit') Login
