@import 'mixins';

// Components
@import 'components/authCard/authCard.scss';

// ngMaterial Overrides
.md-tabs-content .md-tab-content {
  height: auto;
}

md-card {
  width: 100%;

  @include gt-sm {
    width: 80%;
  }

  @include gt-md {
    width: 40%;
  }
}